body {
  background: #0d1117;
  color: white;
  font-family: Arial;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.card {
  width: 350px;
  padding: 25px;
  background: #111827;
  border-radius: 12px;
  box-shadow: 0px 0px 20px #0007;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

#connectBtn {
  background: orange;
  color: black;
}

#setBtn {
  background: #1f2937;
  color: white;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #333;
  background: #0d1117;
  color: white;
}

.label {
  margin-top: 15px;
  font-weight: bold;
}

#status {
  margin-top: 10px;
  color: #ffcc66;
}
